.nested > li:first-child > a {
  text-decoration: none;
}

 .nested > li > ul > li:last-child > a {
  text-decoration: none;
}

.last-list li:nth-child(odd) {
  background-color: yellow;
}

.my-list > li:nth-child(3) {
  background-color: gray;
}

h3:nth-of-type(4n) {
  color: green;
}

h2:nth-of-type(odd) {
  background-color: green;
  color: blue;
}

.u-line > li:first-child {
  text-decoration: underline;
}
.last-list li:last-child {
  text-decoration: line-through;
}



p:nth-of-type(1) {
  background-color: brown;
  padding: 15px;
}

ul:nth-of-type(even) {
  border: 1px solid black;
  padding: 8px;
}

li:nth-child(3) {
  color: purple;
}