p b {
  color: purple;
}


ul i {
  text-decoration: underline;
}


h1 + h2 {
  color: greenyellow;
}


h2+ h3 {
  color: red;
  padding: 8px 0 0 0;
}


 ol ~ h3 {
   border: 1px solid blue;
   padding: 5px ;
 }

ul ~ p {
  border: 1px solid black;
  padding: 20px;
}

ul.my-list > li > ul > li {
  color: brown;
  text-decoration: underline;
}

p i {
  color: blue;
}

.u-line i {
  text-decoration: underline;
}

h3 + p {
  text-decoration: none;
}

ol + h2 {
  text-decoration: underline;
}

.random ~ p {
  padding: 12px 10px;
}

.last-list ~ a {
  text-decoration: yellow;
}

.my-list > li {
  text-decoration: underline;
}

.nested a {
  display: inline-block;
  padding: 5px;
}

