p b {
  color: purple;
}


ul i {
  text-decoration: underline;
}


h1 + h2 {
  color: greenyellow;
}


h2+ h3 {
  color: red;
  padding: 8px 0 0 0;
}


 ol ~ h3 {
   border: 1px solid blue;
   padding: 5px ;
 }

ul ~ p {
  border: 1px solid black;
  padding: 20px;
}

ul.my-list > li > ul > li {
  color: brown;
  text-decoration: underline;
}




